<!DOCTYPE html>
<html>
  <head>
    <title>Cleverbreak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">

  <% if current_user %>
    <script type='text/javascript'>

      window.currentUser = {
        "id": <%= current_user.id %>,
<<<<<<< HEAD
        "email": <%= current_user.email %>
=======
        "email": "<%= current_user.email %>"
>>>>>>> authentication
      }
    </script>
  <% end %>
 

  </head>

  <body>

    <%= yield %>

    
  </body>
</html>
